# Python Programming for Biologists:

#### Author: Dr. Daniel Pass | www.CompassBioinformatics.com

---

### Review python data types

Each data type has a punctuation character to define it's type:

#### Numbers - no character

In [ ]:
val1 = 2345
val2 = 2345.678

print(type(val1))
print(type(val2))

#### Strings - Quotation marks `" "`

In [ ]:
val3 = "Just a basic sentence"
val4 = '6543.23'

print(type(val3))
print(type(val4))

#### Lists - Square brackets `[ ]`

In [ ]:
val5 = [1, 2, 3, 4]
val6 = [['a', 'b', 'c'], "orange", "zebra", 542.23]

print(type(val5))
print(type(val6))


#### Tuples - Round brackets aka parenthases `( )`

In [ ]:
val7 = ('ID01', 42, "Cantalope")

print(type(val7))


#### Dictionaries - Curly brackets `{ }`

In [ ]:
val8 = {'TFBS1': 82, 'TFBS2': 23}
val9 = {'Hello': ["Bonjour", "Hallo", "Ni hao"], 'Goodbye': ["Au reviour", "Tsuss", "Zai jian"]}

print(type(val8))
print(type(val9))

### Exercise 1: Strings

1.1. Create two string variables named `promotor_sequence` and `dna_sequence` containing the sequences 'GTGTGTAATATA' and 'ATCTGTCATGTGCAAAAAGGA'.

1.2. Combine the seuqnences, print the sequence, and print the total length

1.3 Output how many As are in the sequence

In [ ]:
# Your code goes here

<details>
<summary>Answers here. Don't peak!</summary>

```
promotor_sequence = "GTGTGTAATATA"
dna_sequence = "ATCTGTCATGTGCAAAAAGGA"

combined = promotor_sequence + dna_sequence

print(combined)
print(len(combined))
print(combined.count('A'))
```

</details>

---

### Exercise 2: Numbers

2.1. Create an integer variable `total_reads` and set it to 51250.

2.2. Create a float variable `genome_coverage` and set it to 0.76.

2.3. Calculate the total number of mapped reads (total reads multiplied by genome coverage) using `total_reads` and `genome_coverage` and store it in a variable `mapped_reads`. 
        Print `mapped_reads`, and also as a percentage.

In [9]:
# Your code goes here

<details>
<summary>Answers here. Don't peak!</summary>

```
# Your code goes here
total_reads = int(51250)
genome_coverage = float(0.76)

mapped_reads = total_reads * genome_coverage

print("Mapped reads:", mapped_reads, "(" + str(mapped_reads/total_reads * 100) +"%)")
```

</details>

---

### Exercise 3: Lists

3.1. Create a list of `amino_acids` containing the elements  'Cysteine', 'Valine', 'Aspartic Acid', 'Glutamine', 'Tyrosene', 'Alanine'.

3.2. Add 'Selenocysteine', and remove 'Aspartic Acid' from the list and print the updated list.

3.3. Sort the list and print the first and last elements.

3.4 Create a new list that contains the first half of the sequences - Try to do that so it will output half, however long the list is 
        
        - (Note: The number in a list[number] must be an int)

In [23]:
# Your code here

<details>
<summary>Answers here. Don't peak!</summary>

```
amino_acids = ['Cysteine', 'Valine', 'Aspartic Acid', 'Glutamine', 'Tyrosene', 'Alanine']

amino_acids.append('Selenocysteine')
amino_acids.remove('Aspartic Acid')

print(amino_acids)

amino_acids.sort()
print(amino_acids[0], amino_acids[-1])

half_number = len(amino_acids) / 2

new_list = amino_acids[:int(half_number)]
print(new_list)
```

</details>

---

### Exercise 4: 2D lists

4.1 Create a 2D list named ```experiments``` of these sites and researchers:
["CDF", "Amy"] 
["BRI", "Bryan"]
["LDN", "Charlie"]
["SWN", "Daniel"]
["EXT", "Elphaba"]

4.2 Print the 2nd site/researcher sublist

4.3 Print the 4th researcher in the list


4.4 Print the last site in the list

4.4 Add a new site/researcher to the list: ["BRL", "Fran"]

4.5 Print the complete list

4.6 Extension - Create a loop and print the researcher name IF the site code begins with a `B`

In [27]:
# Your code goes here

<details>
<summary>Answers here. Don't peak!</summary>

```
experiments = [["CDF", "Amy"],["BRI", "Bryan"],["LDN", "Charlie"],["SWN", "Daniel"],["EXT", "Elphaba"]]

print(experiments[1])
print(experiments[3][1])
print(experiments[-1][0])

experiments.append(["BRL", "Fran"])

print(experiments)
```

</details>

Exercise 5: Dictionaries

5.1 Create a dictionary with the site data of the city, country, and latitude & longitude coordinates. Use the city as the key.

    "Buenos Aires"  "Argentina" -34.6037 -58.3816
    "São Paulo"     "Brazil"    -23.5505 -46.6333
    "Montevideo"    "Uruguay"   -34.9011 -56.1645
    "Asunción"      "Paraguay"  -25.2637 -57.5759
    "Brasília"      "Brazil"    -15.8267 -47.9218
    "Córdoba"       "Argentina" -31.4201 -64.1888
    "Mendoza"       "Argentina" -32.8895 -68.8458
    "Salvador"      "Brazil"    -12.9714 -38.5014

5.2 Add an additional data row with:  "Bogotá" "Colombia" 4.7110 -74.0721

5.3 Return the values for these cities: Mendoza, São Paulo, Lima

5.4 Extension - Using a loop, print only the results from the country Argentina

In [ ]:
# Your code goes here